{% extends "template.html" %} {% block addProject %}


<div class="viewstext">Ajouter un projet</div>
{% if r==1 %}
<div class="alert alert-success" role="alert">{{ msg }}</div>
{% endif %}
<form
  method="post"
  action="index.php?action=AddProjetPost"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="Projectadmin">Project admin </label>
    <input
      required
      type="text"
      placeholder="Project admin "
      class="form-control"
      id="Projectadmin"
      name="Projectadmin"
    />
  </div>
  <div class="form-group">
    <label for="Detaills">Detaills</label>
    <input
      required
      type="text"
      placeholder="Detaills"
      class="form-control"
      id="Detaills"
      name="Detaills"
    />
  </div>
  <div class="form-group">
    <label for="ProjectMember">Project Member </label>
    <input
      required
      type="text"
      placeholder="Project admin "
      class="form-control"
      id="ProjectMember"
      name="ProjectMember"
    />
  <div class="form-group">
    <label for="d_debut">date de début</label>
    <input type="date" class="form-control" id="d_debut" name="d_debut" />
  </div>
  <div class="form-group">
    <label for="d_fin">date fin</label>
    <input type="date" class="form-control" id="d_fin" name="d_fin" />
  </div>
  <br />

  <button type="submit" name="submit" class="btn btn-secondary btn-block">
    Submit
  </button>
</form>
{% endblock %}
