{% extends "template.html" %} {% block viewUsers %}

<div class="viewstext">Views Users</div>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of birth </th>
    <th>Role</th>

    <th>Actions</th>
  </tr>
  {% for r in result %}
  <tr>
    <td>{{r.id}}</td>
    <td>{{r.email}}</td>
    <td>{{r.firstname}}</td>
    <td>{{r.lastname}}</td>
    <td>{{r.dob}}</td>
    <td>{{r.role}}</td>

    <td>
      <a
        href="index.php?action=ViewUserDet&id={{r.id}}"
        class="btn btn-primary"
        >View</a
      >
      <a
        href="index.php?action=EditUser&id={{r.id}}"
        class="btn btn-warning"
        >Edit</a
      >
      <a
        onclick="return confirm('Are you sure you want to delete this record?');"
        href="index.php?action=DeleteUser&id={{r.id}}"
        class="btn btn-danger"
        >Delete</a
      >
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
